<<<<<<< HEAD
=======
.background-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000b3;
  z-index: 1000;
}

.background-modal svg {
  position: absolute;
  right: 0;
  padding: 20px;
  color: #444444;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  color: #000;
}

.modal .actions {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

>>>>>>> 094ee08fd87c1d12db329d15bb0e69361df753c8
.modal .actions #btn-yes {
  text-align: center;
  background-color: #6fe866;
  width: 20%;
}

.modal .actions #btn-no {
  text-align: center;
  background-color: #fa4b57;
  width: 20%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 094ee08fd87c1d12db329d15bb0e69361df753c8
