nav {
  padding: 15px;
  border-bottom: 1px solid #4568dc;
}

nav a {
  color: #fff;
  opacity: .8;
  transition: .5s;
}

nav svg {
  color: #fff;
  cursor: pointer;
}

nav a:hover {
    opacity: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}
