h1 {
  text-align: center;
}

.skill {
  border: 3px solid #4568dc;
  width: 200px;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  margin: 20px 30px;
}

.skill img {
  width: 90px;
}

.skill:hover {
  transition: 1s;
  cursor: pointer;
  transform: scale(0.9)
}

.skill span {
  display: block;
  color: #4568dc;
  margin: 10px 0;
}

#skills {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
